# Binaries
terraform-provider-luckperms
/generate
/luckperms-generate
*.exe

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Test
*.test

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Generated
/dist/
